{% extends 'games/base.html' %}

{% block content %}
    <div class="row">
        <div class="col mt-5">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.user_strings.errors }}
                    {{ form.user_strings }}
                    <small id="user_strings_help" class="form-text text-muted">
                        Input two or more steam IDs in any format separated by commas, e.g:
                        <ul>
                            <li><i>Custom url</i>:
                                <ul>
                                    <li>darkstarone93</li>
                                    <li>https://steamcommunity.com/id/darkstarone93</li>
                                </ul>
                            </li>
                            <li><i>Steam ID 64</i>:
                                <ul>
                                    <li>76561198011864860</li>
                                    <li>http://steamcommunity.com/profiles/76561198011864860</li>
                                </ul>
                            </li>
                            <li><i>Steam ID 3</i>: [U:1:51599132]</li>
                            <li><i>Steam ID</i>: STEAM_0:0:25799566</li>
                        </ul>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Find Multiplayer Games Common Between Accounts
                </button>
            </form>
        </div>
    </div>

    {% if results %}
        <div class="row">
            <div class="col">
                <hr/>
            </div>
        </div>
    {% endif %}
{% endblock %}