{% extends 'games/base.html' %}
{% load game_extras %}

{% block content %}
    <div class="row">
        <div class="col mt-5">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Steam Game List Intersector</h1>
                    <p class="lead">Intersect multiple Steam user libraries to find common multiplayer games</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% if form.user_strings.errors %}
                        {{ form.user_strings | add_class:"form-control is-invalid" }}
                        <div class="invalid-feedback mt-2">
                            {{ form.user_strings.errors.as_text |slice:"1:" }}
                        </div>
                        <hr style="background-color:rgb(238, 95, 91)"/>
                    {% else %}
                        {{ form.user_strings }}
                    {% endif %}
                    <small id="user_strings_help" class="form-text text-muted">
                        Input two or more steam IDs in any format separated by commas, e.g:
                        <ul>
                            <li><i>Custom url</i>:
                                <ul>
                                    <li>darkstarone93</li>
                                    <li>https://steamcommunity.com/id/darkstarone93</li>
                                </ul>
                            </li>
                            <li><i>Steam ID 64</i>:
                                <ul>
                                    <li>76561198011864860</li>
                                    <li>http://steamcommunity.com/profiles/76561198011864860</li>
                                </ul>
                            </li>
                            <li><i>Steam ID 3</i>: [U:1:51599132]</li>
                            <li><i>Steam ID</i>: STEAM_0:0:25799566</li>
                        </ul>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg" id="form_submit">
                    Find Multiplayer Games Common Between Accounts
                </button>
            </form>
        </div>
    </div>

    {% if results %}
        <script>
            reset_submit();
        </script>
        <div class="row">
            <div class="col mt-4">
                <div id="carouselSteam" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        {% for key, value in results.items %}
                            {% if forloop.counter == 1 %}
                                <div class="carousel-item active">
                                    {% include "games/result_table.html" with key=key value=value %}
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    {% include "games/result_table.html" with key=key value=value %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselSteam" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselSteam" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}